@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,700|Montserrat:400,500,700');
@import 'css/bootstrap.min.css';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cabin', sans-serif;
    background-color: #fff;
}


[id="5"]{
  display: none;
}
[id="1"]{
  display: none;
}
[id="2"]{
  display: none;
}
[id="3"]{
  display: none;
}
[id="4"]{
  display: none;
}
[id="6"]{
  display: none;
}
[id="7"]{
  display: none;
}
[id="8"]{
  display: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    color: #000;
    line-height: 1.2;
}

p {
    color: #726a84;
    font-size: 16px;
    font-weight: 300;
    margin-top: 0;
}

.heading-text > p {
    font-size: 16px;
}

.section-heading > h2 {
    font-weight: 300;
    color: #5b32b4;
    font-size: 48px;
    margin: 0;
}


.section-heading {
    margin-bottom: 60px;
}

.wellcome_area {
    background-image: url(img/bg-img/welcome-bg.png);
    height: 500px;
    position: relative;
    z-index: 1;
    background-position: bottom center;
    background-size: cover;
}

.welcome-thumb {
    width: 42%;
    position: absolute;
    bottom: 40px;
    right: -10px;
    z-index: 9;
    display: inline;
}
.welcome-thumb h1{
  font-weight: 300;
  color: white;
  font-size: 200px;
  margin: 0;
  display: inline-block;

}
.welcome-thumb p{
  font-weight: 300;
  color: white;
  font-size: 20px;
  margin: 0;
  display: inline-block;
}
.wellcome-heading > h2 {
    font-size: 80px;
    color: #ffffff;
    font-weight: 700;
    position: relative;
    z-index: 3;
}

.get-start-area .email {
    background: #9572e8;
    height: 50px;
    max-width: 260px;
    border: none;
    border-radius: 24px;
    padding: 0px 15px;
}

.form-control::-webkit-input-placeholder {
    color: #cec1f4;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #cec1f4;
    opacity: 1;
}

.form-control::-ms-input-placeholder {
    color: #cec1f4;
    opacity: 1;
}

.form-control::placeholder {
    color: #cec1f4;
    opacity: 1;
}

.get-start-area .email:focus {
    border: none;
    outline-offset: transparent !important;
    border-radius: 30px;
}

.get-start-area .submit {
    background-color: #fb397d;
    color: #fff;
    font-weight: 500;
    display: inline-block;
    border: none;
    height: 50px;
    min-width: 200px;
    line-height: 46px;
    text-align: center;
    border-radius: 24px 24px 24px 24px;
    margin-left: 10px;
}

.get-start-area .submit:hover {
    background: #6f52e5;
    color: #fff;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.get-start-area .submit1 {
    background-color: #fb397d;
    color: #fff;
    font-weight: 500;
    display: inline-block;
    border: none;
    height: 49px !important;
    min-width: 200px;
    line-height: 46px;
    text-align: center;
    border-radius: 24px 24px 24px 24px;
    margin-left: 10px;
}

.get-start-area .submit1:hover {
    background: #fb397d;
    color: #fff;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.wellcome-heading > p {
    color: #fff;
}

.wellcome-heading > h3 {
    font-size: 280px;
    position: absolute;
    top: -134px;
    font-weight: 900;
    left: -12px;
    z-index: -1;
    color: #fff;
    opacity: .1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
}

.wellcome-heading {
    margin-bottom: 100px;
}


#myList{
  padding: 10px 10px 10px 10px;
  color : white;
  margin-left: 10px;

}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
body{
  background-image: url(img/bg-img/welcome-bg.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size:cover;
}
/* .bg-dark {
  background-color: #26022fc7 !important;
} */
.nav {
      background-color: transparent;
      background: transparent;
    }
.fa-beat {
  animation:fa-beat 4s ease infinite;
}
@keyframes fa-beat {
  0% {
    transform:scale(1);
  }
  5% {
    transform:scale(1.25);
  }
  20% {
    transform:scale(1);
  }
  30% {
    transform:scale(1);
  }
  35% {
    transform:scale(1.25);
  }
  50% {
    transform:scale(1);
  }
  55% {
    transform:scale(1.25);
  }
  70% {
    transform:scale(1);
  }
}

/* Caption Style */
h1,
h2,
h3,
h4 {
  padding: 0px;
  margin: 0px;
}



.caption-style-3 {
  list-style-type: none;
  margin-left: 0px;
  padding: 0px;
}

.caption-style-3 img {
  height: 300px;
  width: 400px;
}

.caption-style-3 li {
  align-items: center;
  float: left;
  margin-top: 8%;
  margin-left: 65px;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.caption-style-3 li:hover .caption {
  opacity: 1;
  transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -o-transform: translateY(-100px);
}

.caption-style-3 li:hover img {
  opacity: 1;
  transform: translateY(-40px);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
}

.caption-style-3 img {
  margin: 0px;
  padding: 0px;
  float: left;
  z-index: 0;
}

.caption-style-3 .caption {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: 300px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.caption-style-3 img {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.caption-style-3 .blur {
  background-color: rgba(144, 64, 179, 0.95);
  height: 300px;
  width: 400px;
  z-index: 5;
  position: relative;
}

.caption-style-3 .caption-text h1 {
  text-transform: uppercase;
  font-size: 18px;
}
.caption-style-3 .caption-text {
  z-index: 10;
  color: #fff;
  position: absolute;
  width: 400px;
  height: 300px;
  text-align: center;
  top: 20px;
}

/** content **/
.content {
  margin-top: 100px;
  margin-left: 100px;
  width: 700px;
}
.content h1,
.content h2 {
  font-family: "Source Sans Pro", sans-serif;
  color: #ecf0f1;
  padding: 0px;
  margin: 0px;
  font-weight: normal;
}

.content h1 {
  font-weight: 900;
  font-size: 64px;
}

.content h2 {
  font-size: 26px;
}

.content p {
  color: #ecf0f1;
  font-family: "Lato";
  line-height: 28px;
  font-size: 15px;
  padding-top: 50px;
}

p.credit {
  padding-top: 20px;
  font-size: 12px;
}

p a {
  color: #ecf0f1;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: linear-gradient(90deg, rgba(184, 182, 240,1) 20.09375%,rgba(184, 181, 240,1) 20.09375%,rgba(229, 165, 242,1) 80.09375%);
  text-align: center;
}
